.curved-loop-jacket {
      opacity: 0.4;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin-top: 250px;
      margin-bottom: -250px;
}

.curved-loop-svg {
      user-select: none;
      width: 100%;
      overflow: visible;
      display: block;
      font-size: 4rem;
      fill: #9a8b84;
      user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;
      font-weight: 700;
      text-transform: uppercase;
      line-height: 1;
      z-index: 0;
}

.curved-loop-jacket-footer {
      opacity: 0.4;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
}

.curved-loop-svg-footer {
      user-select: none;
      width: 100%;
      overflow: visible;
      display: block;
      font-size: 4rem;
      fill: #9a8b84;
      user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;
      font-weight: 700;
      text-transform: uppercase;
      line-height: 1;
      z-index: 0;
}